<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    
<style>
    .wrapper{
        display: grid;
        place-items: center;
        
        width: 100%;
        max-width: clamp(300px, 80vw, 75ch);
        margin-inline: auto;
        padding-inline: 1rem;
        background-color: red;
    }

    main {
        width: 100%;
        max-width: 1200px; /* Ajusta según tu diseño */
        background-color: #f3f3f3;

    }
</style>
</head>
<body>
    <div class="wrapper">
        <main>
            
        </main>
    </div>
</body>
</html>
